/*Основной колір тексту background: #303030; */

/*Другорядний колір тексту background: #555555;*/
/*Додатковий колір тексту  background: #9DA4BD ;*/
/*Колір помаранчевий акцент #FF6C00; */
/* Колір тексту білий #FFFFFF */

:root {
  --primary-text-color: #303030;
  --title-text-color: #555555;
  --accent-color: #ff6c00;
  --adres-color: background: #9DA4BD;
  --wite-text-color: #ffffff;
  --button-color: ;
  --logo-color: ;
  --background-color: ;
}

body {
  font-family: "Open Sans", sans-serif;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}

.header {
}
.header-logo {
}
.header-list {
}
.header-item {
 font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.header-btn {
}
.hero {
}
.hero-list {
}
.hero-item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #303030;
  transform: rotate(-89.83deg);
}
.hero-top-name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-name {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 85px;
letter-spacing: 0.05em;
color: #FFFFFF;
}
.hero-botton-name {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.about {
}
.about-top-text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}
.about-name {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
letter-spacing: 0.05em;
color: #303030;
}
.about-botton-text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #555555;
}
.about-text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
letter-spacing: 0.02em;
color: #555555;
}
.about-btn {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #303030;
}
.priсes {
}
.price-top-text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}
.price-name {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
letter-spacing: 0.05em;
color: #FFFFFF;
}
.price-list {
}
.price-item {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #9DA4BD;
}
.price-btn {font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
}
.benefits {
}
.benefits-list {
}
.benefits-item {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 57px;
text-align: center;
letter-spacing: 0.05em;
color: #303030;
}
.benefits-text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #303030
}
.benefits-top-name {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}
.benefits-name {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
letter-spacing: 0.05em;
color: #303030;
}
.benefits-botton-name {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #555555;
}
.masters {
}
.masters-top-name {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #303030;
}
.masters-names{

}
.masters-name {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
letter-spacing: 0.02em;
color: #303030;
}
.masters-list {
}
.masters-item {
}
.masters-tytle {
}
.work {
}
.work-top-name {
}
.work-name {
}
.work-list {
}
.work-item {
}
.contact {
}
.contact-name {
}
.contac-list {
}
.contact-item {
}
.contact-tytle {
}
.footer {
}
.footer-text {
}
.footer-list {
}
.footer-item {
}