@import "./base/common";
@import "./base/reset";
@import "./utils/vars";
@import "./utils/hidden";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./components/bottom-text";
@import "./components/modal";
@import "./components/socials";
@import "./components/title";
@import "./components/top-text";
@import "./components/container";
@import "./components/btn";
@import "./loyout/header";
@import "./loyout/hero";
@import "./loyout/about";
@import "./loyout/prices";
@import "./loyout/benefits";
@import "./loyout/masters";
@import "./loyout/contact-wrap";
@import "./loyout/contacts";
@import "./loyout/footer";
