.about {
    padding-top: 169px;
    padding-bottom: 121px;
  }
  .about .container {
    display: flex;
  }
  /* .about-content {
  } */
  .about-list {
    display: flex;
    margin-right: 64px;
  }
  .about-item + .about-item {
    margin-left: 30px;
  }
  .about-top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 20px;
  }
  .about-name {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17x;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
    margin-bottom: 20px;
  }
  .about-botton-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 20px;
  }
  .about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 40px;
  }
  .about-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }