.benefits {
    padding-top: 143px;
    padding-bottom: 138px;
  }
  /* .benefits-list {
  } */
  .benefits-item {
    width: 170px;
    height: 130px;
    border: 1px solid #303030;
    padding: 20px 24px;
  }
  .benefit-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
    display: block;
  }
  .benefits-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--primary-text-color);
  }
  .benefits-top-name {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
  .benefits-name {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
  }
  .benefits-botton-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }